@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: "Inter", sans-serif;
}

p,
li,
ul,
code {
  font-size: 11pt;
  line-height: 150%;
}

body > blockquote,
body > p,
body > ul,
body > ol,
body > table,
body > pre {
  margin-left: 150px;
}
